.footer{
    background-color: #333333;
    margin:0;
    display: flex;
    height: 30px;
    vertical-align: middle;
}

.dark{
    background-color: #2C2C2C;
    /*display: flex;*/
    display: -webkit-box;
    vertical-align: middle;
}

.icon{
    color:#FAA500;
}

.orange{
    color: #FAA500;
    white-space: nowrap;
    vertical-align: middle;
}

.wrapper {width:30px; height: 30px; background: #2C2C2C;position:relative; overflow:hidden;}

.wrapperSpace {width:10px; height: 30px; background: #2C2C2C;position:relative; overflow:hidden;}

.inner {width: 0; position:absolute; z-index:0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent #333333 transparent transparent; bottom:0; right:0}


.hf{
    font-size: 16pt;
}

.sp{
    margin-right: 2%;
}

.pd{
    padding-right: 1%;
}

.grey{
    color: #d3d3d3;
    margin-left: 2%;
    display: -webkit-box;
    /*display: flex;*/
    white-space: nowrap;
}

a{
    margin: 0% 0.5%;
    vertical-align: middle;
}

.space{
    display: -webkit-box;
    /*display: flex;*/
    margin-right: 60px;
}

.min-space{
    width: 10px;
}

.spacer{
    flex: 1;
}

.line{
    display: inline-block;
    vertical-align: middle;
}