
<footer class="footer">
    <div class="dark">
        <div class="icon">
            <fa-icon icon="dot-circle"></fa-icon>
        </div>
        <a class="orange sp pd">NO AR</a>
    </div>
    <div class="wrapperSpace"></div>
    <div class="wrapper">
        <div class="inner"></div>
    </div>
    <div class="grey">
        <div class="space sp">
            <fa-icon icon="desktop"></fa-icon>
            <div class="min-space sp"></div>
            <div class="line sp">
                <a>ENCONTRO - <font color="#ffffff">10:00</font></a>
            </div>
        </div>
        <div class="space sp">
            <fa-icon icon="history"></fa-icon>
            <div class="min-space"></div>
            <a> Última atualização em <font color="#ffffff">10:28</font></a>
        </div>
    </div>
    <div class="spacer sp"></div>
    <div class="grey sp">
        <a> Quinta, <font color="#ffffff">30</font> de <font color="#ffffff">Maio</font> de <font color="#ffffff">2019</font></a>
    </div>
    <div class="orange sp">
        <a class="hf">// 10:30:42</a>
    </div>
</footer>
