
<footer class="footer">
    <div class="dark">
        <div class="icon">
            <fa-icon icon="dot-circle"></fa-icon>
        </div>
        <a class="orange sp pd">NO AR</a>
    </div>
    <div class="grey">
        <div class="space sp">
            <fa-icon icon="desktop"></fa-icon>
            <div class="min-space sp"></div>
            <div class="line sp">
                <a>ENCONTRO - 10:00</a>
            </div>
        </div>
        <div class="space sp">
            <fa-icon icon="history"></fa-icon>
            <div class="min-space"></div>
            <a> Última atualização em 10:28</a>
        </div>
    </div>
    <div class="spacer sp"></div>
    <div class="grey sp">
        <a> Quinta, 30 de Maio de 2019</a>
    </div>
    <div class="orange sp">
        <a>// 10:30:42</a>
    </div>
</footer>
