<div class="toolbar" role="banner">
    <button class="side-menu">
        <div class="icon retang">
            <fa-icon icon="map-pin"></fa-icon>
        </div>
    </button>

    <svg height="50" width="50">
        <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.1)" />
    </svg>


    <div class="white">

        <button class="security">
            <div class="b-icon">
                <fa-icon icon="shield-alt"></fa-icon>
            </div>
        </button>

        <div class="spacer"></div>

        <button class="user">
            <div class="icon square">
                <fa-icon icon="user-alt"></fa-icon>
            </div>
        </button>
    </div>
    <div class="busca">
        <input class="search" type="search" placeholder="Pesquisar...">
        <div class="b-icon">
            <fa-icon icon="search"></fa-icon>
        </div>
    </div>

    <div class="spacer"></div>

    <button mat-button class="right-menu" (click)="openSide()" >
        <div class="b-icon square">
            <fa-icon icon="sliders-h"></fa-icon>
        </div>
    </button>

    

    <button class="include">
        <div class="size">
            <div class="icon inc-user-size">
                <fa-icon icon="user-alt"></fa-icon>
            </div>
            <div class="spacer"></div>
            <a>INCLUIR USUÁRIO</a>
        </div>
    </button>

    <svg height="50" width="50">
        <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.1)" />
    </svg>
    
    <div class="nobut">
        <div class="b-icon square">
            <fa-icon icon="home"></fa-icon>
        </div>
        <div class="b-icon square">
            <fa-icon icon="cog"></fa-icon>
        </div>
        <div class="b-icon square">
            <fa-icon icon="power-off"></fa-icon>
        </div>
        
        
    </div>
</div>





