<!--<div class="table">-->
    <table border="0" cellpadding="0" cellspacing="0">
        <tr class="cabeçario">
            <th></th>
            <th>USUÁRIO</th>
            <th>EMAIL</th>
            <th>DATA DE INCLUSÃO</th>
            <th>DATA DE ALTERAÇÃO</th>
            <th>REGRAS</th>
            <th>STATUS</th>
            <th>AÇÕES</th>
        </tr>
        <!--<div *ngFor="let user of qtdCadast, let i = index">-->
            <!--<div *ngIf="par">-->
                <tr *ngFor="let user of qtdCadast, let i = index" class="hv" (mouseover)="over(i)" (mouseleave)="leave(i)">
                    <td> <input type="checkbox"></td>
                    <td> {{qtdCadast[i].user}}</td>
                    <td> {{qtdCadast[i].email}}</td>
                    <td> {{qtdCadast[i].inclusion_date}}</td>
                    <td> {{qtdCadast[i].change_date}}</td>
                    <td> {{qtdCadast[i].rules}}</td>
                    <td class="active" [ngStyle]="{'color': colorActive$[i]}"> {{qtdCadast[i].status}}</td>
                    <td class="action"> <div class="hv_div" *ngIf="hov$[i]"> <fa-icon icon="trash-alt" class="icon"></fa-icon><fa-icon icon="download"></fa-icon><fa-icon icon="shield-alt"></fa-icon><fa-icon icon="pencil-alt"></fa-icon></div><fa-icon icon="ellipsis-h"></fa-icon></td>
                </tr>
            <!--</div>
        </div>-->
    </table>
<!--</div>-->
